[submodule "ts/ts-esm-paths-jest"]
	path = ts/ts-esm-paths-jest
	url = git@github.com:unknowntpo/ts-esm-paths-jest.git
[submodule "dataops/dbt_tutorial"]
	path = dataops/dbt_tutorial
	url = git@github.com:unknowntpo/dbt_tutorial.git
[submodule "java/spring-petclinic"]
	path = java/spring-petclinic
	url = git@github.com:unknowntpo/spring-petclinic.git
[submodule "java/java-plugin-quickstart"]
	path = java/java-plugin-quickstart
	url = git@github.com:unknowntpo/java-plugin-quickstart.git
