html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Microsoft JhengHei";
	color: #333;
}

h1,
h2,
h3,
h4 {
	color: #3F5D45;
}

.container {
	height: 100%;
	padding: 0 5px;
	display: flex;
}

.col {
	display: flex;
	flex: 1 1 50%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #EAF0ED;
	margin: 10px 10px;
	border-radius: 10px;
}